.btnContainer {
  position: relative;
}
.button {
  background-color: var(--app-green);
  border: none;
  border-radius: 5px;
  box-shadow: none;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  position: relative;
  outline: none;
  top: 0px;
  transition: top 0.1s;
  user-select: none;
  width: 326px;
}
.button:hover {
  top: -2px;
}
.button:active {
  top: 0px;
}
.loading {
  height: 23px;
  position: absolute;
  right: 13px;
  top: calc(50% - 12.5px);
}
