.container {
  position: relative;
}
.containerLoading {
  opacity: 0.85;
  position: relative;
  pointer-events: none;
}
.button {
  background-color: var(--app-green);
  border: none;
  border-radius: 5px;
  box-shadow: none;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  outline: none;
  position: relative;
  top: 0px;
  transition: top 0.1s;
  user-select: none;
  width: var(--app-form-width);
}
.button:hover,
.button:focus {
  top: -2px;
}
.button:active {
  top: 0px;
}
.loading {
  height: 23px;
  position: absolute;
  right: 13px;
  top: calc(50% - 14px);
}
