.tagOuterContainer {
  position: relative;
}
.tagContainer {
  background-color: var(--app-custom-tags-background);
  border-radius: 3px;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  overflow-x: hidden;
  max-height: 120px;
  padding: 0 8px 8px 8px;
  width: 462px;
}
.inputContainer {
  flex-grow: 2;
  margin-top: 8px;
  width: 50px;
}
.inputField {
  background-color: var(--app-custom-tags-background);
  border: none;
  color: var(--app-upload-modal-text);
  height: 21px;
  outline: none;
  width: 100%;
}
.tagContainer::-webkit-scrollbar {
  width: 3px;
}
.tagContainer::-webkit-scrollbar-track {
  background-color: var(--app-scroll-track);
}
.tagContainer::-webkit-scrollbar-thumb {
  border: 3px solid var(--app-scroll-thumb);
}

.suggestionListContainer {
  background-color: var(--app-search-select-list-background);
  border-radius: 2px;
  box-shadow: 0 0 3px 0 var(--app-search-select-list-shadow);
  margin-top: 2px;
  max-height: 140px;
  overflow-y: scroll;
  position: absolute;
  transition: max-height var(--app-search-select-open-transition);
  z-index: 1;
  width: 200px;
}
.suggestionItem {
  align-items: center;
  color: var(--app-search-select-list-text);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-size: 13px;
  height: 27px;
  margin: 0px;
  padding-left: 16px;
}
.suggestionItem:hover {
  background-color: var(--app-search-select-list-hover);
}

.suggestionListContainer::-webkit-scrollbar {
  width: 3px;
}
.suggestionListContainer::-webkit-scrollbar-track {
  background-color: var(--app-scroll-track);
}
.suggestionListContainer::-webkit-scrollbar-thumb {
  border: 3px solid var(--app-scroll-thumb);
}

.hideSuggestionList {
  max-height: 0px;
  transition: none;
  border: none;
}
.rightAlign{
  right: 8px;
}