.colorPickerContainer {
  display: flex;
  flex-direction: row;
}
.swatchContainer {
  display: flex;
  flex-direction: column;
  height: 177px;
  justify-content: space-between;
  margin-left: 16px;
}
.addFavContainer {
  position: relative;
}
.favButton {
  bottom: 15px;
  position: absolute;
  right: 0px;
}
