.colorPickerContainer {
  display: flex;
  flex-direction: row;
}
.swatchContainer {
  display: grid;
  column-gap: 6px;
  grid-template-columns: repeat(3, 25px);
  grid-template-rows: repeat(6, 25px);
  height: 177px;
  row-gap: 6px;
  margin-left: 16px;
}
.addFavContainer {
  position: relative;
}
.favButton {
  bottom: 15px;
  position: absolute;
  right: 0px;
}
