.header {
  font-size: 16px;
  font-weight: bold;
  color: var(--app-form-label);
  margin-top: 20px;
  margin-bottom: 15px;
  width: var(--app-form-width);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.actionLabel {
  width: var(--app-form-width);
  margin-top: 33px;
  color: var(--app-form-label);
  font-size: 16px;
}
.buttonCon {
  margin-top: 15px;
  width: var(--app-form-width);
  margin-top: 29px;
}
.message {
  color: var(--app-form-label);
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  margin-top: 16px;
  width: var(--app-form-width);
}
.errorMessage {
  margin-top: 17px;
  margin-bottom: 2px;
  color: var(--app-error-message);
  font-size: 14px;
  text-align: center;
  line-height: 19px;
  max-width: 310px;
}
.signInLink {
  font-weight: 500;
  font-size: 16px;
  color: var(--app-green);
  margin-left: 6px;
  text-decoration: none;
}
