.header {
  font-size: 16px;
  font-weight: bold;
  color: var(--app-form-label);
  margin-top: 20px;
  margin-bottom: 20px;
}
.actionLabel {
  width: var(--app-form-width);
}
.buttonCon {
  margin-top: 15px;
  width: var(--app-form-width);
}
.message {
  margin-top: 16px;
  color: var(--app-form-label);
  font-size: 14px;
  font-weight: 500;
}
