.topContainer {
  position: relative;
}
.listContainer {
  align-items: center;
  border-radius: 3px;
  box-shadow: 0 0 3px 0 #dbdbdc;
  display: flex;
  flex-direction: row;
  height: 66px;
  margin-bottom: 8px;
  width: 100%;
}
.imgContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 70px;
}
.previewImage {
  height: 30px;
  width: 30px;
}
.iconName {
  color: #707071;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 140px;
  white-space: nowrap;
}
.popupView {
  background-color: #ffffff;
  box-shadow: 0 6.67px 12.04px 0 rgba(219, 219, 220, 0.51),
    0 13.33px 13.83px 0 rgba(219, 219, 220, 0.61),
    0 20px 15px 0 rgba(219, 219, 220, 0.31);
  height: 143px;
  padding: 16px 20px 16px 20px;
  position: absolute;
  right: 115px;
  top: 100px;
  width: 300px;
  z-index: 10;
}
.popupHeader {
  color: #707071;
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 16px;
}
.nameInput {
  background-color: #f3f3f4;
  border: none;
  border-radius: 3px;
  color: #707071;
  height: 30px;
  margin-bottom: 32px;
  outline: none;
  padding-left: 16px;
  width: 260px;
}
.actionCon {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.button {
  border: none;
  background-color: white;
  color: #989899;
  cursor: pointer;
  font-size: 14px;
  outline: none;
}
.button:hover {
  font-weight: bold;
}
.okayBtn {
  margin-right: 12px;
  width: 30px;
}
.cancelBtn {
  margin-right: 25px;
  width: 80px;
}
