.pageContainer {
  height: 100%;
}
.viewContainer {
  background-color: var(--app-icon-page-background);
  height: calc(100% - 54px);
  padding: var(--app-icons-view-conatiner-padding);
}
.iconsContainer {
  height: calc(100% - 30px);
}
