.searchInput {
  background-color: var(--app-search-select-background);
  border: 0px;
  border-radius: 3px;
  color: var(--app-search-select-text);
  font-size: 14px;
  height: 30px;
  padding: 6px 16px 6px 16px;
  width: 330px;
}
.searchInput::placeholder {
  color: var(--app-search-select-common);
  opacity: 1;
}
.searchInput:-ms-input-placeholder {
  color: var(--app-search-select-common);
}
.searchInput::-ms-input-placeholder {
  color: var(--app-search-select-common);
}
.inputLogoContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
  position: relative;
}
.SearchLens {
  height: 16px;
  position: absolute;
  right: 15px;
  width: 14px;
}
.searchSelectContainer {
  position: relative;
}
.searchListContainer {
  background-color: var(--app-search-select-list-background);
  border-radius: 2px;
  box-shadow: 0 0 3px 0 var(--app-search-select-list-shadow);
  margin-top: 2px;
  max-height: 140px;
  overflow-y: scroll;
  position: absolute;
  transition: max-height var(--app-search-select-open-transition);
  width: 100%;
  z-index: 1;
  width: 330px;
}
.searchItem {
  align-items: center;
  color: var(--app-search-select-list-text);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 27px;
  margin: 0px;
  padding-left: 16px;
}
.searchItem:hover {
  background-color: var(--app-search-select-list-hover);
}

.searchListContainer::-webkit-scrollbar {
  width: 3px;
}
.searchListContainer::-webkit-scrollbar-track {
  background-color: var(--app-scroll-track);
}
.searchListContainer::-webkit-scrollbar-thumb {
  border: 3px solid var(--app-scroll-thumb);
}
