.topContainer {
  position: relative;
}
.listContainer {
  align-items: center;
  border-radius: 3px;
  box-shadow: 0 0 3px 0 var(--app-upload-modal-preview-shadow);
  display: flex;
  flex-direction: row;
  height: 66px;
  margin-bottom: 8px;
  width: 100%;
}
.imgContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 70px;
}
.previewImage {
  height: 30px;
  width: 30px;
}
.iconName {
  color: var(--app-upload-modal-text);
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 140px;
  white-space: nowrap;
}
.tagSection {
  margin-left: 20px;
}
.tagsContainer {
  max-height: 62px;
  width: 270px;
}