.tagContainer {
  background-color: var(--app-custom-tags-background);
  border-radius: 3px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: scroll;
  padding: 8px;
  max-height: 112px;
  width: 413px;
}
.inputContainer {
  flex-grow: 2;
  width: 50px;
}
.inputField {
  width: 100%;
}
.tagLabel {
  align-items: center;
  border: 1px solid var(--app-custom-tags-border);
  border-radius: 3px;
  color: var(--app-custom-tags-text);
  display: flex;
  font-size: 12px;
  font-weight: 500;
  height: 21px;
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 3.5px 6.5px 3.5px 8.5px;
}
.deleteTag {
  cursor: pointer;
  height: 10px;
  margin-left: 8px;
  width: 10px;
}
.tagContainer::-webkit-scrollbar {
  width: 3px;
}
.tagContainer::-webkit-scrollbar-track {
  background-color: var(--app-scroll-track);
}
.tagContainer::-webkit-scrollbar-thumb {
  border: 3px solid var(--app-scroll-thumb);
}
