.rootContainer {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}
.leftContainer {
  height: 100%;
  overflow: hidden;
  transition: width 0.5s;
  width: 250px;
}
.rightContainer {
  height: 100%;
  width: inherit;
}
