.rootContainer{
    display: flex;
    flex-direction: row;
    height:100vh;
    width:100vw;
}
.leftContainer{
    background-color: #173895;
    height:100%;
    width:250px;
}
.rightContainer{
    height:100%;
    width:inherit;
}
.rightHeader{
    background-color: #FFFFFF;
    box-shadow: 1px 2px 3px 0 #E6E8ED;
    height:54px;
}
.rightContent{
    background-color: #F3F3F4;
    height: calc(100% - 54px);
}