.rootContainer {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}
.leftContainer {
  height: 100%;
  overflow: hidden;
  transition: width 0.5s;
  width: 250px;
}
.rightContainer {
  height: 100%;
  width: inherit;
}
.rightHeader {
  background-color: var(--app-pure-white);
  box-shadow: 1px 2px 3px 0 var(--app-pure-white-shadow);
  height: 54px;
}
.rightContent {
  background-color: var(--app-input-background);
  height: 100%;
}
