.editContainer {
  cursor: url("../../../assests/png/pencil-cursor.png"), pointer;
}
.iconImg {
  display: block;
  margin: 20px auto 24px auto;
  height: 45px;
  width: 45px;
}
.iconName {
  color: var(--app-user-display-icon-name);
  font-size: 12px;
  height: 15px;
  margin-left: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 117px;
}
.actionIcon {
  cursor: pointer;
  height: 18px;
  margin: 5px;
  width: 18px;
}
