.card {
  background-color: #ffffff;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  height: 130px;
  width: 130px;
}
.iconImg {
  display: block;
  margin: 43px auto 24px auto;
  height: 45px;
  width: 45px;
}
.iconName {
  color: var(--app-user-display-icon-name);
  font-size: 12px;
  height: 15px;
  margin-left: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 117px;
}
