.verticalLine {
  border-left: 1px solid var(--app-vertical-line);
  height: 20px;
  margin-right: 15px;
  width: 1px;
}

.username {
  color: var(--app-text);
  font-size: 14px;
  font-weight: 500;
  margin: 0px;
  margin-right: 16px;
}

.profileContainer {
  position: relative;
}

.profilePic {
  background-color: violet;
  border-radius: 50%;
  color: var(--app-pure-white);
  cursor: pointer;
  height: 30px;
  margin-right: 15px;
  width: 30px;
}

.settingsCon {
  background-color: var(--app-pure-white);
  height: 200px;
  overflow: hidden;
  position: absolute;
  right:15px;
  transition: height 0.4s;
  width: 200px;
  z-index:1;
}

.label{
  color:var(--app-text);
  cursor:pointer;
  font-size: 14px;
  padding: 20px;
}