.pageContainer {
  height: 100%;
}
.viewContainer {
  background-color: var(--app-icon-page-background);
  height: calc(100% - 54px);
  padding: var(--app-icons-view-container-padding);
}
.iconsContainer {
  height: calc(100% - 30px - 18px - 38px);
  margin-top: 18px;
}
.titleContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 30px;
  justify-content: space-between;
}
.title {
  align-items: center;
  color: var(--app-icon-header-text);
  display: flex;
  font-size: 18px;
}
.backBtnTitle {
  color: var(--app-icon-header-text);
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  margin: 0px;
}
.titleProjectName {
  font-size: 17px;
  font-weight: 500;
}
.titleSplitter {
  height: 14px;
  margin-left: 5px;
  margin-right: 5px;
  transform: rotate(-90deg);
  width: 14px;
}
