.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  height: 55px;
  width: 55px;
}
.heading {
  color: var(--app-green);
  font-size: 33px;
  margin-top: 12px;
}
.lineBreak {
  border-top: 1px solid #e2e2ec;
  height: 1px;
  width: var(--app-form-width);
  margin-bottom: 15px;
}
