.uploadContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
  width: 100%;
}
.headerText {
  color: var(--app-upload-modal-header);
  font-size: 16px;
  font-weight: 500;
  margin: 0px;
}
.dropContainer {
  align-items: center;
  border: 2px dashed var(--app-upload-modal-border-line);
  border-radius: 3px;
  display: flex;
  height: 44%;
  justify-content: center;
  margin: 16px 20px;
}
.dropContent {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.dropText1 {
  color: var(--app-upload-modal-info-text);
  font-size: 14px;
  font-weight: 300;
  margin: 16px 0px 0px 0px;
}
.dropText2 {
  color: var(--app-upload-modal-info-text);
  font-size: 12px;
  font-weight: 300;
  margin: 8px 0px;
}
.horizonLine {
  border-bottom: 0.5px solid var(--app-upload-modal-border-line);
  height: 1px;
  opacity: 0.5;
}
.viewHeaderText {
  color: var(--app-upload-modal-header);
  font-size: 16px;
  font-weight: 500;
  margin: 0px;
  margin-top: 16px;
}
.viewZone {
  /* background-color: var(--app-upload-modal-view-zone); */
  background-color: yellow;
  border-radius: 3px;
  height: 36%;
  max-height: 255px;
  margin-top: 8px;
}
.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 20px;
}
.nextBtn {
  margin-right: 12px;
}
