.uploadContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
  width: 100%;
}
.horizonLine {
  border-bottom: 0.5px solid var(--app-upload-modal-border-line);
  height: 1px;
  opacity: 0.5;
}
.viewHeaderText {
  color: var(--app-upload-modal-header);
  font-size: 16px;
  font-weight: 500;
  margin: 0px;
  margin-top: 16px;
}
.viewZone {
  align-items: center;
  background-color: var(--app-upload-modal-view-zone);
  border-radius: 3px;
  display: flex;
  height: 36%;
  justify-content: center;
  max-height: 255px;
  margin-top: 8px;
}
.viewContent {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.noFileText {
  color: var(--app-upload-modal-info-text);
  font-size: 12px;
  font-weight: 300;
}
.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 20px;
}
.nextBtn {
  margin-right: 12px;
}
