.toastbar {
  background-color: rgba(0, 0, 0, 0.8);
  bottom: 30px;
  border-radius: 4px;
  color:var(--app-pure-white);
  left: 50%;
  min-width: 250px;
  margin-left: -125px;
  padding: 16px;
  position: fixed;
  text-align: center;
  user-select: none;
  visibility: hidden;
  z-index: 10;
}

.showToastbar {
  animation: fadein 0.25s linear;
  visibility: visible;
  -webkit-animation: fadein 0.25s linear;
}
.round {
  margin-right: 15px;
}
.icon {
  height: 35px;
  width: 35px;
}
