.toastbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  color: #fff;
  text-align: center;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  user-select: none;
}

.showToastbar {
  visibility: visible;
  -webkit-animation: fadein 0.25s linear;
  animation: fadein 0.25s linear;
}
.round {
  margin-right: 15px;
}
.icon {
  height: 35px;
  width: 35px;
}
