.editContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
  position: relative;
  width: 100%;
}
.previewContainer {
  background-color: var(--app-edit-preview-background);
  height: 100%;
  padding: 14px;
  width: 55%;
}
.configContainer {
  height: 100%;
  width: 45%;
}
.close {
  cursor: pointer;
  position: absolute;
  right: -41px;
  top: -15px;
}
