.headerText {
  color: var(--app-upload-modal-header);
  font-size: 16px;
  font-weight: 500;
  margin: 0px;
}
.dropContainer {
  align-items: center;
  border: 2px dashed var(--app-upload-modal-border-line);
  border-radius: 3px;
  display: flex;
  height: 44%;
  justify-content: center;
  margin: 16px 0px;
}
.dropContent {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.dropText1 {
  color: var(--app-upload-modal-info-text);
  font-size: 14px;
  font-weight: 300;
  margin: 16px 0px 0px 0px;
}
.dropText2 {
  color: var(--app-upload-modal-info-text);
  font-size: 12px;
  font-weight: 300;
  margin: 8px 0px;
}
.dragHighlight {
  box-shadow: 0px 0px 15px 5px #ccc;
}
