.navContainer {
  background-color: var(--app-navigation-background);
  height: 100%;
  width: 250px;
}
.headerCon {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 26px 24px 26px 24px;
}
.navTitle {
  color: var(--app-navigation-label);
  font-size: 19px;
  font-weight: 500;
  margin: 0px;
}
.appLogo {
  height: 30px;
  margin-right: 24px;
  width: 30px;
}
.routeLinks {
  margin-top: 60px;
}
.naviLinkCon {
  align-items: center;
  background: linear-gradient(
    to right,
    var(--app-navigation-background) 50%,
    var(--app-navigation-highlight) 50%
  );
  background-position: left bottom;
  background-size: 200% 100%;
  border-left: 4px solid var(--app-navigation-background);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 50px;
  margin-bottom: 18px;
  padding: 11px 0px;
  text-decoration: none;
  transition: background 0.35s ease;
}
.naviLinkCon:hover {
  background-position: right bottom;
}
.highlightNaviCon {
  background-position: right bottom;
  border-left: 4px solid var(--app-navigation-highlight-selected);
  background: linear-gradient(
    to left,
    var(--app-navigation-background) 0%,
    var(--app-navigation-highlight) 100%
  );
  color: var(--app-navigation-label);
}
.notHighlightNaviCon {
  color: var(--app-navigation-link-not-highlight);
}
.navLogo {
  height: 26px;
  margin-right: 27px;
  margin-left: 24px;
  width: 26px;
}
.logoHighlight {
  color: var(--app-navigation-link-highlight);
}
.logoNotHighlight {
  color: var(--app-navigation-link-not-highlight);
}
.navLink {
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  margin: 0px;
  text-decoration: none;
}
.messageAnchor {
  align-items: center;
  background-color: var(--app-navigation-message-background);
  border-radius: 50%;
  bottom: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  left: 20px;
  height: 30px;
  outline: none;
  position: absolute;
  width: 30px;
}
