.toastbar {
  background-color: var(--app-toastbar-background);
  bottom: 5px;
  border-radius: 4px;
  color: var(--app-toastbar-text);
  left: 50%;
  min-width: 250px;
  margin-left: -110px;
  padding: 8px 12px;
  position: fixed;
  text-align: center;
  user-select: none;
  visibility: hidden;
  z-index: 10;
}
.toastView {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.message {
  font-size: 15px;
}
.showToastbar {
  animation: fadein 0.25s linear;
  visibility: visible;
  -webkit-animation: fadein 0.25s linear;
}
.round {
  margin-right: 15px;
}
.icon {
  height: 35px;
  width: 35px;
}
/* animations */
/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 5px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 5px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 5px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 5px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
