.confirmHeader {
  color: var(--app-upload-modal-text);
  font-size: 17px;
  font-weight: bold;
  margin: 0px;
}
.confirmDetails {
  color: var(--app-upload-modal-text);
  font-size: 13px;
  margin-top: 25px;
}
.confirmBtnContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
}
.proceedButton {
  border: none;
  background-color: var(--app-upload-modal-button-background);
  color: var(--app-upload-modal-button-color);
  cursor: pointer;
  font-size: 14px;
  outline: none;
  width: 70px;
}
.cancelButton {
  border: none;
  background-color: var(--app-upload-modal-button-background);
  color: var(--app-upload-modal-button-color);
  cursor: pointer;
  font-size: 14px;
  outline: none;
  width: 70px;
}
.cancelButton:hover,
.proceedButton:hover {
  font-weight: bold;
}
.details {
  color: var(--app-upload-modal-text);
  font-size: 13px;
  margin-top: 25px;
}
.failedHeader {
  align-items: center;
  background-color: var(--app-upload-failed-background);
  border-radius: 50%;
  display: flex;
  height: 35px;
  justify-content: center;
  margin: auto;
  width: 35px;
}
.failedSvg {
  height: 14px;
  width: 13px;
}
.errorText {
  color: var(--app-upload-modal-text);
  font-size: 13px;
  margin-top: 12px;
  text-align: center;
}
.uploadFailedbtn {
  display: flex;
  justify-content: flex-end;
}
.successHeader {
  align-items: center;
  background-color: var(--app-upload-success-background);
  border-radius: 50%;
  display: flex;
  height: 35px;
  justify-content: center;
  margin: auto;
  width: 35px;
}
.successSvg {
  height: 13px;
  width: 13px;
}
.successText {
  color: var(--app-upload-modal-text);
  font-size: 13px;
  margin-top: 22px;
  text-align: center;
}
.uploadSuccessbtn {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
