.verticalLine {
  border-left: 1px solid var(--app-user-profile-vertical-line);
  height: 20px;
  margin-right: 15px;
  width: 1px;
}

.username {
  color: var(--app-user-profile-text);
  font-size: 14px;
  font-weight: 500;
  margin: 0px;
  margin-right: 16px;
  text-transform: capitalize;
}

.profileContainer {
  position: relative;
}
.hide {
  max-height: 0px !important;
}

.profilePic {
  align-items: center;
  background-color: violet;
  border-radius: 50%;
  color: var(--app-pure-white);
  cursor: pointer;
  display: flex;
  height: 30px;
  justify-content: center;
  margin-right: 15px;
  text-transform: uppercase;
  width: 30px;
}

.settingsCon {
  background-color: var(--app-user-profile-dropdown);
  border-radius: 3px;
  box-shadow: 0 0 3px 0 var(--app-user-profile-dropdown-shadow);
  height: 178px;
  max-height: 178px;
  overflow: hidden;
  position: absolute;
  right: 0px;
  top: 35px;
  transition: max-height 0.25s;
  width: 270px;
  z-index: 1;
}

.topContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 16px;
}

.profilePicDropdown {
  align-items: center;
  background-color: lawngreen;
  border-radius: 50%;
  color: var(--app-pure-white);
  display: flex;
  justify-content: center;
  min-height: 40px;
  min-width: 40px;
  text-transform: uppercase;
}

.nameContainer {
  margin-left: 8px;
}

.fullName {
  color: var(--app-user-profile-text);
  font-size: 14px;
  font-weight: 500;
  margin: 0px;
  text-transform: capitalize;
}

.emailText {
  color: var(--app-user-profile-text);
  font-size: 11px;
  font-weight: 300;
  margin: 6px 0px 0px 0px;
}

.breakLine {
  border-top: 1px solid var(--app--user-profile-linebreak);
  margin: 0px 16px;
}

.label {
  align-items: center;
  color: var(--app-user-profile-text);
  cursor: pointer;
  display: flex;
  font-size: 13px;
  height: 30px;
  padding-left: 20px;
}

.label:hover {
  background-color: var(--app-user-profile-text-hover);
}

.firstLabel {
  margin: 16px 0px 0px 0px;
}

.signOutLabel {
  margin: 15px 0px 0px 0px;
}
