/* Global classes  */
/* color picker style overriding */
#rc-editable-input-1 {
  border: 1px solid #dbdbdc !important;
  border-radius: 3px !important;
  box-shadow: none !important;
  color: #707071 !important;
  font-size: 12px !important;
  height: 26px !important;
  margin-right: 12px;
  padding: 7px 10px 7px 20px !important;
  width: 86px !important;
}
#rc-editable-input-1 + label::before {
  content: "#";
  height: 20px;
  position: absolute;
  width: 20px;
  left: 3px;
  bottom: 25.5px;
  font-size: 14px;
}
#rc-editable-input-1 + label {
  margin-right: 12px;
}
#rc-editable-input-1 + label,
#rc-editable-input-2 + label,
#rc-editable-input-3 + label,
#rc-editable-input-4 + label {
  color: #707071 !important;
  font-size: 14px !important;
  pointer-events: none;
}

#rc-editable-input-2,
#rc-editable-input-3,
#rc-editable-input-4 {
  border: 1px solid #dbdbdc !important;
  border-radius: 3px !important;
  box-shadow: none !important;
  color: #707071 !important;
  font-size: 12px !important;
  height: 26px !important;
  text-align: center !important;
  width: 37px !important;
}
