/* Global classes for resuablity */
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-row-acen {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.flex-jus-end {
  display: flex;
  justify-content: flex-end;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-col-cen {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.align-cen {
  align-items: center;
}
.justify-cen {
  justify-content: center;
}
.perfect-cen {
  align-items: center;
  display: flex;
  justify-content: center;
}
.m-pointer {
  cursor: pointer;
}
.pos-rel {
  position: relative;
}
.disable-btn {
  pointer-events: none;
  opacity: 0.85;
}

/* common margins */
.mt-5 {
  margin-top: 5px;
}
.mt-14 {
  margin-top: 14px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-16 {
  margin-top: 16px;
}
.mt-23 {
  margin-top: 23px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-22 {
  margin-top: 22px;
}
.mt-25 {
  margin-top: 25px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-33 {
  margin-top: 33px;
}
.mt-36 {
  margin-top: 36px;
}
.mt-40 {
  margin-top: 40px;
}
/* margin -left */
.ml-20 {
  margin-left: 20px;
}
.ml-24 {
  margin-left: 24px;
}