:root {
  /* colors */
  --app-green: #31d091;
  --app-form-label: #707071;
  --app-text: #707071;
  --app-input-background: #f3f3f4;
  --app-error-message: #f34469;
  --app-pure-white: white;
  --app-search-select-label: #dbdbdc;
  --app-linebreak-border: #e2e2ec;
  --app-soliton-blue: #173895;
  --app-pure-white-shadow: #e6e8ed;
  --app-vertical-line: #e2e2ec;
  /* width */
  --app-form-width: 320px;
  --app-form-width-short: 228px;
  --app-form-width-long: 480px;
}
* {
  box-sizing: border-box;
  font-family: Roboto;
  font-weight: 400;
  user-select: none;
}
body {
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
