:root {
  /* login headers */
  --app-login-header-text: #00c578;
  --app-login-linebreak: #e2e2ec;
  /* button input colors */
  --app-submit-button-background: #00c578;
  --app-submit-button-text: #ffffff;

  /* select input colors*/
  --app-select-label: #707071;
  --app-select-selected-text: #707071;
  --app-select-selected-background: #f3f3f4;
  --app-select-dropdown-background: #ffffff;
  --app-select-dropdown-shadow: #dbdbdc;
  --app-select-dropdown-option-text: #707071;
  --app-select-dropdown-option-background: #ffffff;
  --app-select-dropdown-option-hover: #f3f3f4;
  --app-select-selected-option-background: #173895;
  --app-select-selected-option: #ffffff;
  /* select effects */
  --app-select-open-transition: 0.3s;

  /* Form input colors */
  --app-form-input-background: #f3f3f4;
  --app-form-input-shadow: #f3f3f4;
  --app-form-input-text: #707071;
  --app-form-input-label: #707071;
  --app-form-input-autofill-background: #f3f3f4;

  /* App Header color  */
  --app-top-header-background: #ffffff;
  --app-top-header-shadow: #e6e8ed;

  /* Icons header */
  --app-icon-header-text: #707071;
  --app-icon-header-button-background: #00c578;
  --app-icon-header-button-text: #ffffff;

  /* Modal colors */
  --app-modal-overlay: rgba(0, 0, 0, 0.6);
  --app-modal-content-background: #ffffff;

  /* Navigation  */
  --app-navigation-background: #173895;
  --app-navigation-label: #e7eaf1;
  --app-navigation-highlight: #0c2b81;
  --app-navigation-link-not-highlight: #7488cc;
  --app-navigation-link-highlight: #f3f3f4;
  --app-navigation-message-background: #00c578;

  /* search select dropdown */
  --app-search-select-background: #f3f3f4;
  --app-search-select-common: #dbdbdc;
  --app-search-select-list-background: #ffffff;
  --app-search-select-list-shadow: #dbdbdc;
  --app-search-select-list-text: #707071;
  --app-search-select-list-hover: #f3f3f4;
  /* search select effects */
  --app-search-select-open-transition: 0.4s;

  /* Navi link to other pages */
  --app-navigation-link: #00c578;

  /* Auth colors */
  --app-auth-error-message: #f34469;
  --app-auth-user-message: #00c578;

  /* Toast bar colors */
  --app-toastbar-background: rgba(0, 0, 0, 0.8);
  --app-toastbar-text: white;

  /* user profile */
  --app-user-profile-vertical-line: #e2e2ec;
  --app-user-profile-text: #707071;
  --app-user-profile-text-hover: #f3f3f4;
  --app-user-profile-dropdown: #ffffff;
  --app-user-profile-dropdown-shadow: #dbdbdc;
  --app--user-profile-linebreak: #e2e2ec;

  /* signup form */
  --app-signup-form-text: #707071;

  --app-green: #00c578;
  --app-form-label: #707071;
  --app-text: #707071;
  --app-input-background: #f3f3f4;
  --app-input-background-hover: #f3f3f4;
  --app-error-message: #f34469;
  --app-pure-white: white;
  --app-select-shadow: #dbdbdc;
  --app-linebreak-border: #e2e2ec;
  --app-soliton-blue: #173895;
  --app-pure-white-shadow: #e6e8ed;
  --app-vertical-line: #e2e2ec;
  --app-navi-label: #e7eaf1;
  --app-navi-highlight: #0c2b81;
  --app-navi-link-not-highlight: #7488cc;
  --app-navi-link-highlight: #f3f3f4;
  
  /* scroll bar */
  --app-scroll-thumb: #989899;
  --app-scroll-track: #ffffff;
  /* width */
  --app-form-width: 320px;
  --app-form-width-medium: 320px;
  --app-form-width-short: 228px;
  --app-form-width-long: 480px;
  /* universal padding */
  --app-icons-view-conatiner-padding: 23px 10px 0px 30px;
}
* {
  box-sizing: border-box;
  font-family: Roboto;
  font-weight: 400;
  user-select: none;
}
body {
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
