.buttonCon {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signinLabel {
  color: var(--app-form-label);
  font-size: 16px;
}
.signinBtn {
  color: var(--app-green);
  margin-left: 5px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}
.passwordSvg {
  position: absolute;
  right: 12px;
  bottom: 21px;
  z-index: 2;
  cursor: pointer;
}
.errorContainer {
  margin-top: 28px;
  margin-bottom: 10px;
  width: 100%;
}
.errorText {
  max-width: 370px;
  line-height: 19px;
  color: var(--app-error-message);
  font-size: 14px;
}
