.container {
  column-gap: 11px;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(
      var(--app-user-display-icon-card-dimension),
      var(--app-user-display-icon-card-dimension)
    )
  );
  grid-template-rows: repeat(
    auto-fit,
    minmax(
      var(--app-user-display-icon-card-dimension),
      var(--app-user-display-icon-card-dimension)
    )
  );
  height: 100%;
  justify-content: center;
  overflow: scroll;
  overflow-x: hidden;
  row-gap: 11px;
  width: 100%;
}
/* scroll bar width */
.container::-webkit-scrollbar {
  width: 3px;
}
/* Handle */
.container::-webkit-scrollbar-thumb {
  border: 3px solid var(--app-scroll-thumb-light);
}
.deleteCard {
  right: calc(50% - 200px) !important;
  top: 280px !important;
  width: 350px !important;
}
.confirmHeader {
  color: var(--app-upload-modal-text);
  font-size: 18px;
  font-weight: bold;
  margin: 0px;
}
.confirmDetails {
  color: var(--app-upload-modal-text);
  font-size: 14px;
  margin-top: 25px;
}
.confirmBtnContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
}
.proceedButton {
  border: none;
  background-color: var(--app-upload-modal-button-background);
  color: var(--app-upload-modal-button-color);
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  outline: none;
  width: 70px;
}
.cancelButton {
  border: none;
  background-color: var(--app-upload-modal-button-background);
  color: var(--app-upload-modal-button-color);
  cursor: pointer;
  font-size: 15px;
  outline: none;
  width: 70px;
}
