.overflowContainer {
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}
.container {
  column-gap: 16px;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(
      var(--app-user-display-icon-card-dimension),
      var(--app-user-display-icon-card-dimension)
    )
  );
  grid-template-rows: repeat(
    auto-fit,
    minmax(
      var(--app-user-display-icon-card-dimension),
      var(--app-user-display-icon-card-dimension)
    )
  );
  height: 100%;
  row-gap: 22px;
  padding-right: 5px;
  width: 100%;
}
/* scroll bar width */
.overflowContainer::-webkit-scrollbar {
  width: 3px;
}
/* Handle */
.overflowContainer::-webkit-scrollbar-thumb {
  border: 3px solid var(--app-scroll-thumb-light);
}
.smallList {
  justify-content: flex-start;
}
.largeList {
  justify-content: space-between;
}
.iconContainerAlignEnd {
  justify-content: flex-end;
}
.iconContainerAlignBetween {
  justify-content: space-between;
}
.userMessage {
  bottom: 14px;
  color: var(--app-user-display-text);
  font-size: 13px;
  font-weight: 500;
  left: 50%;
  position: fixed;
}
.deleteCard {
  background-color: var(--app-delete-modal-background) !important;
  border-radius: 3px;
  box-shadow: 0 5px 11.37px 0 rgba(58, 58, 59, 0.14),
    0 10px 13.06px 0 rgba(58, 58, 59, 0.2),
    0 15px 14.16px 0 rgba(58, 58, 59, 0.18),
    0 20px 15px 0 rgba(58, 58, 59, 0.08);
  right: calc(50% - 200px) !important;
  top: 280px !important;
  width: 358px !important;
}
.confirmHeader {
  color: var(--app-delete-modal-text);
  font-size: 16px;
  font-weight: 400;
  margin: 23px 0 0 0;
  text-align: center;
}
.confirmDetails {
  color: var(--app-delete-modal-text);
  font-size: 14px;
  margin-top: 25px;
}
.confirmBtnContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 37px;
}
.proceedButton {
  border: none;
  background-color: var(--app-delete-modal-background);
  color: var(--app-delete-modal-text);
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  width: 70px;
}
.cancelButton {
  border: none;
  background-color: var(--app-delete-modal-background);
  color: var(--app-delete-modal-text);
  cursor: pointer;
  font-size: 16px;
  margin-right: 45px;
  outline: none;
  width: 70px;
}
.notFoundSvg {
  height: 370px;
  left: 43%;
  position: absolute;
  top: 28%;
  width: 370px;
}
