.actionLabel {
  width: var(--app-form-width);
  color: var(--app-green);
  font-size: 14px;
}
.buttonCon {
  margin-top: 15px;
  width: var(--app-form-width);
}
.signupLabel {
  color: var(--app-form-label);
  font-size: 16px;
}
