.actionLabel {
  color: var(--app-green);
  font-size: 14px;
}
.buttonCon {
  margin-top: 25px;
  width: var(--app-form-width);
}
.signupLabel {
  color: var(--app-form-label);
  font-size: 16px;
}
.forgotLabel {
  width: var(--app-form-width);
}
.erroMessage {
  margin-top: 17px;
  margin-bottom: 2px;
  color: var(--app-error-message);
  font-size: 14px;
  max-width: 280px;
  text-align: center;
  line-height: 19px;
}
.signupBtn {
  color: var(--app-green);
  margin-left: 5px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}
.showUserMessage {
  margin-top: 0px;
  margin-bottom: 15px;
  color: var(--app-green);
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}
