.container {
  height: 100%;
  width: 100%;
}
.configurationZone {
  padding: 16px;
}
.configurationZone button {
  background-color: var(--app-button-notselected-background);
  border-radius: 0px;
  color: var(--app-button-notselected-text);
  font-size: 14px;
  font-weight: 500;
  height: 38px;
  width: 90px;
}
.highlightedButton {
  background-color: var(--app-button-primary-background) !important;
  color: var(--app-button-primary-text) !important;
}
.groupHeader {
  color: var(--app-edit-text-header);
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 0px;
  margin-top: 15px;
}
.sizeGroup {
  display: flex;
  flex-wrap: wrap;
}
.sizeGroup button {
  background-color: var(--app-button-notselected-background);
  border-radius: 0px;
  color: var(--app-button-notselected-text);
  font-size: 14px;
  font-weight: 400;
  height: 38px;
  margin-right: 12px;
  margin-top: 12px;
  width: 90px;
}
.configSizeContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 9px;
  width: 225px;
}
