.viewZone {
  background-color: var(--app-upload-modal-view-zone);
  border-radius: 3px;
  height: 36%;
  max-height: 255px;
  margin-top: 8px;
}
.viewContent {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
.noFileText {
  color: var(--app-upload-modal-info-text);
  font-size: 12px;
  font-weight: 300;
}
.previewZone {
  column-gap: 16px;
  display: grid;
  grid-template-columns: repeat(6, 75px);
  height: 100%;
  overflow-y: scroll;
  padding: 16px;
  row-gap: 15px;
  width: 100%;
}
.previewContainer {
  align-items: center;
  background-color: var(--app-upload-modal-preview-background);
  border-radius: 3px;
  box-shadow: 0 0 3px 0 var(--app-upload-modal-preview-shadow);
  display: flex;
  flex-direction: column;
  height: 75px;
  justify-content: flex-end;
  padding: 2px 4px 4px 2px;
  position: relative;
  width: 75px;
}
.remove {
  cursor: pointer;
  height: 14px;
  position: absolute;
  right: -6px;
  top: -6px;
  width: 14px;
}
.previewImage {
  height: 30px;
  margin-bottom: 4px;
  width: 30px;
}
.previewZone::-webkit-scrollbar {
  width: 3px;
}
.previewZone::-webkit-scrollbar-track {
  background-color: var(--app-scroll-track);
}
.previewZone::-webkit-scrollbar-thumb {
  border: 3px solid var(--app-scroll-thumb);
}
.iconName {
  color: var(--app-upload-modal-text);
  font-size: 10px;
  height: 20px;
  overflow: hidden;
  padding-top: 7px;
  padding-left: 4px;
  text-overflow: ellipsis;
  width: 70px;
  white-space: nowrap;
}
/* delete animation */
@keyframes deleteAnim {
  0% {
    transform: rotate(10deg) scale(1, 1);
    opacity: 1;
  }
  100% {
    opacity: 0.25;
    transform: rotate(10deg) scale(0.05, 0.05);
  }
}
.deleteAnim {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-name: deleteAnim;
}
