.container {
  column-gap: 8px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 130px));
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  row-gap: 6px;
  width: 100%;
}
/* scroll bar width */
.container::-webkit-scrollbar {
  width: 3px;
}
/* Handle */
.container::-webkit-scrollbar-thumb {
  border: 3px solid var(--app-scroll-thumb-light);
}
