.hamsvg {
  cursor: pointer;
}

.headerContainer {
  background-color: var(--app-pure-white);
  box-shadow: 1px 2px 3px 0 var(--app-pure-white-shadow);
  display: flex;
  flex-direction: row;
  height: 54px;
  justify-content: space-between;
  padding: 12px 8px 12px 8px;
  width: 100%;
}
.headerLeftSec {
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 52%;
}
.userSearch {
  margin-left: 20px;
}
.headerRightSec {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 32%;
}
