.headerContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-between;
  padding: 12px 8px 12px 8px;
  width: 100%;
}
.headerLeftSec {
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 52%;
}
.userSearch {
  margin-left: 20px;
}
.headerRightSec {
  background-color: lawngreen;
  width: 32%;
}