.logoContainer {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}
.editIconContainer {
  max-height: 557px !important;
  width: 829px !important;
}
