.logoContainer {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}
.appLogo {
  animation: hideshow 1.5s ease infinite;
  height: 300px;
  width: 300px;
}
.editIconContainer {
  max-height: 557px !important;
  width: 829px !important;
}
/* animation */
@keyframes hideshow {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.3;
  }
}
