.pageContainer {
  height: 100vh;
  width: 100vw;
}
.leftContainer {
  background-color: #f3f3f4;
  height: 100vh;
  width: 50vw;
}
.illustration {
  width: 80%;
}
.rightContainer {
  height: 100vh;
  padding: 20px;
  width: 50vw;
}
.rightContent {
  height: 500px;
  margin: auto;
  margin-top:66px;
  width: 80%;
}
