.pageContainer {
  height: 100vh;
  width: 100vw;
}
.leftContainer {
  width: 50vw;
  height: 100vh;
  background-color: #f3f3f4;
}
.illustration {
  width: 80%;
}
.rightContainer {
  width: 50vw;
  height: 100vh;
  padding: 20px;
}
.rightContent {
  width: 80%;
  height: 500px;
}
