.dropLabel {
  color: var(--app-select-label);
  font-size: 14px;
  font-weight: 500;
  margin-left: 40px;
  margin-right: 16px;
  text-align: center;
  width: 70px;
}
.dropdown {
  font-size: 14px;
  position: relative;
}
.valueCon:focus {
  outline: none;
}
.selectedValue {
  align-items: center;
  background-color: var(--app-select-selected-background);
  border: 0px;
  border-radius: 3px;
  color: var(--app-select-selected-text);
  cursor: default;
  display: flex;
  flex-direction: row;
  height: 30px;
  outline: none;
  padding-left: 16px;
  width: 158px;
}
.optionsCon {
  background-color: var(--app-select-dropdown-background);
  box-shadow: 0 0 3px 0 var(--app-select-dropdown-shadow);
  margin-top: 1px;
  max-height: 140px;
  overflow-y: scroll;
  position: absolute;
  transition: max-height var(--app-select-open-transition);
  width: 100%;
}
.option {
  align-items: center;
  background-color: var(--app-select-dropdown-option-background);
  color: var(--app-select-dropdown-option-text);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 28px;
  margin: 0px;
  padding-left: 16px;
}
.selectedOption {
  background-color: var(--app-select-selected-option-background) !important;
  color: var(--app-select-selected-option) !important;
}
.option:hover {
  background-color: var(--app-select-dropdown-option-hover);
}
.arrowDown {
  position: absolute;
  right: 11px;
  top: 7px;
}

/* scroll bar width */
.optionsCon::-webkit-scrollbar {
  width: 3px;
}
/* Track */
.optionsCon::-webkit-scrollbar-track {
  background-color: var(--app-scroll-track);
}
/* Handle */
.optionsCon::-webkit-scrollbar-thumb {
  border: 3px solid var(--app-scroll-thumb);
}
