.dropLabel {
  color: var(--app-form-label);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  margin-left: 40px;
  margin-right: 16px;
}
.dropdown {
  font-size: 14px;
  position: relative;
}

.selectedValue {
  background-color: var(--app-input-background);
  border: 0px;
  border-radius: 3px;
  color: var(--app-form-label);
  display: inline-block;
  height: 30px;
  outline: none;
  padding-left: 16px;
  width: 158px;
}
.optionsCon {
  background-color: var(--app-pure-white);
  max-height: 200px;
  overflow-y: scroll;
  position: absolute;
  transition: max-height 0.4s;
  width: 100%;
}
.option {
  padding-left: 16px;
}
.option:hover {
  background-color: lightblue;
  color: var(--app-pure-white);
}
