.loginContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.logo {
  height: 35px;
  width: 35px;
}
.heading {
  color: var(--app-login-header-text);
  font-size: 33px;
  margin-top: 12px;
}
.lineBreak {
  border-top: 1px solid var(--app-linebreak-border);
  height: 1px;
  margin-bottom: 2px;
  width: var(--app-form-width-medium);
}
