.container {
  height: 100%;
  width: 100%;
}
.canvasContainer {
  display: none;
}
.svgPreviewHeader {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.svgInfo {
  color: var(--app-edit-text-header);
  font-size: 20px;
  font-weight: 500;
  height: 25px;
}
.svgPreview {
  height: 430px;
  padding-top: 10px;
}
.usageInfo {
  height: 60px;
}
.recommendHeader {
  color: var(--app-edit-text-header);
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 8px;
}
.recommendationText {
  color: var(--app-edit-text-info);
  font-size: 13px;
  margin: 0px 0px 4px 0px;
}
.recommendList {
  margin-top: 10px;
  padding-left: 13px;
}
.editPreviewContainer {
  background-color: var(--app-icon-preview-background);
  background-image: linear-gradient(
      45deg,
      var(--app-black-white-background) 25%,
      transparent 0
    ),
    linear-gradient(
      -45deg,
      var(--app-black-white-background) 25%,
      transparent 0
    ),
    linear-gradient(45deg, transparent 75%, var(--app-black-white-background) 0),
    linear-gradient(
      -45deg,
      transparent 75%,
      var(--app-black-white-background) 0
    );
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0;
  border: 1px solid var(--app-icon-preview-border);
  box-shadow: 0 2px 4px var(--app-icon-preview-shadow);
  height: 400px;
  padding: 1px;
}
.editPreviewContainer svg {
  height: 100%;
  width: 100%;
}
.previewButton {
  background-color: var(--app-user-button-background);
  border: none;
  border-radius: 3px;
  color: var(--app-user-display-text);
  cursor: pointer;
  font-size: 14px;
  height: 24px;
  outline: none;
  width: 70px;
}
