.card {
  background-color: var(--app-user-display-icon-card-background);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  height: var(--app-user-display-icon-card-dimension);
  width: var(--app-user-display-icon-card-dimension);
}
.iconImg {
  background-color: var(--app-user-display-icon-card-lazy-background);
  border-radius: 3px;
  display: block;
  margin: 34px auto 24px auto;
  height: 45px;
  width: 45px;
}
.iconName {
  background-color: var(--app-user-display-icon-card-lazy-background);
  border-radius: 3px;
  color: var(--app-user-display-icon-name);
  font-size: 12px;
  margin-bottom: 6px;
  margin-left: 8px;
  height: 14px;
  width: 114px;
}
