.card {
  background-color: var(--app-user-display-icon-card-background);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  height: var(--app-user-display-icon-card-dimension);
  position: relative;
  width: var(--app-user-display-icon-card-dimension);
}
.iconImg {
  background: var(--app-user-display-icon-card-lazy-background);
  border-radius: 3px;
  display: block;
  margin: 34px auto 24px auto;
  height: 45px;
  width: 45px;
}
.iconName {
  background-color: var(--app-user-display-icon-card-lazy-background);
  border-radius: 3px;
  color: var(--app-user-display-icon-name);
  font-size: 12px;
  margin-bottom: 6px;
  margin-left: 8px;
  height: 14px;
  width: 114px;
}
.overlay {
  background: linear-gradient(135deg, rgba(255,255,255,0.8), rgba(255,255,255,0));
  background-size: 600% 600%;
  animation: gradient 1s ease infinite;
  position: absolute;
  height: 100%;
  width:100%;
}
/* Animatio wavy */
@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 90% 90%;
  }
  100% {
    background-position: 0% 0%;
  }
}
