.headerContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 30px;
  justify-content: space-between;
}
.header {
  color: var(--app-icon-header-text);
  font-size: 18px;
  font-weight: 500;
  margin: 0px;
}
.uploadBtn {
  font-weight: 300;
  height: 30px;
  margin-right: 1px;
  width: 108px;
}
